<!DOCTYPE html>
<html>
<head>
  <title>TalkBot</title>
  <%= stylesheet_link_tag    "talk_bot/application", media: "all" %>
  <%= javascript_include_tag "talk_bot/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
